/**
 * @name nordDiscord
 * @description A Discord palette conversion to arcticicestudio's NordTheme. Uses mwittrien's DiscordRecolor CSS as a base with our own additions.
 * @author izutsumi, IDislikeChair, mwittrien
 * @version 1.0.1
 * @website https://github.com/izutsumi/nordDiscord
 */

/* DiscordRecolor CSS by mwittrien */
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css);
/* Nord Highlight.js */
@import url("https://unpkg.com/nord-highlightjs@0.1.0/dist/nord.css");
/* RadialStautus */
/* @import url("https://discordstyles.github.io/RadialStatus/base.css"); */


/* Variables from DiscordRecolor. RGBA values only. */
:root {
	--accentcolor: 			143,188,187;
	--linkcolor: 			143,188,187;
	--mentioncolor: 		235,203,139;
	
	--textbrightest: 		216,222,233;
	--textbrighter: 		216,222,233;
	--textbright: 			129,161,193;
	--textdark: 			129,161,193;
	--textdarker: 			94,129,172;
	--textdarkest: 			76,86,106;
	
	--backgroundaccent: 		46,52,64;
	--backgroundprimary: 		67,76,94;
	--backgroundsecondary: 		59,66,82;
	--backgroundsecondaryalt: 	46,52,64,.4;
	--backgroundtertiary: 		46,52,64;
	--backgroundfloating: 		46,52,64;

	/* Radial Status variable */
	--rs-small-spacing  : 1px;            /* spacing between avatar and status */
	--rs-large-spacing  : 3px;            /* spacing between avatar and status for user popouts & modals/profiles */
	--rs-width          : 2px;            /* Width/thickness of status border */
	--rs-avatar-shape   : 50%;            /* 50% for round - 0% for square */
	--rs-online-color   : var(--nord14);  /* color for online status */
	--rs-idle-color     : var(--nord13);  /* color for idle status */
	--rs-dnd-color      : var(--nord11);  /* color for dnd status */
	--rs-offline-color  : var(--nord3);   /* color for offline status */
	--rs-streaming-color: var(--nord15);  /* color for streaming status */
	--rs-invisible-color: var(--nord3);   /* color for invisible status - Note this will only show for your own invisibility */


	/* Nord color scheme */
	--nord0    : #2e3440;
	--nord1    : #3b4252;
	--nord2    : #434c5e;
	--nord3    : #4c566a;
	--nord4    : #d8dee9;
	--nord5    : #e5e9f0;
	--nord6    : #eceff4;
	--nord7    : #8fbcbb;
	--nord8    : #88c0d0;
	--nord9    : #81a1c1;
	--nord10   : #5e81ac;
	--nord11   : #bf616a;
	--nord12   : #d08770;
	--nord13   : #ebcb8b;
	--nord14   : #a3be8c;
	--nord15   : #b48ead;
	--nordBlack: #252932;
}

/* Mac style buttons */
/* ! The clickable area is too small. */
.da-winButton {
	color        : transparent;
	height       : 10px;
	width        : 10px;
	border-radius: 50%;
	margin-top   : 5px;
	margin-right : 10px;
	margin-left  : 10px;

	transition: .2s;
}

.da-winButtonMinMax[aria-label="Minimize"] {
	background-color: var(--nord13);
}

.da-winButtonMinMax[aria-label="Maximize"] {
	background-color: var(--nord14);
}

.da-winButtonClose {
	background-color: var(--nord11);
	margin-right    : 25px
}

.da-winButton:hover {
	color           : transparent;
	background-color: var(--nord3);
}

/* Text Highlighting Styling */
::selection {
    background-color: rgba(143,188,187,.5);
    color: #d8dee9;
}

/* Mention Border */
.da-mentioned:before {
    background-color: rgb(var(--mentioncolor));
}

/* New Messages Divider & Pill */
.da-isUnread .da-content {
    color: var(--nord11) !important;
}

.da-nameWrap .da-textRow {
    background-color: transparent;
}

.da-isUnread {
    border-color: var(--nord11);
}

.da-unreadPill {
    background-color: var(--nord11);
}

.da-unreadPillCapStroke {
    color: var(--nord11);
    fill: var(--nord11);
}

/* Folder Icon and Background Colors  */
foreignObject > div > div > div > svg > path {
    fill: rgb(var(--linkcolor));
}

.da-folderIconWrapper {
    background-color: var(--nord3) !important;
}

/* Administrator Crown */
.da-ownerIcon {
    color: rgb(var(--mentioncolor));
}

/* Add Server & Explore Buttons */
.da-circleIconButton {
    color: var(--nord7);
}

.da-circleIconButton.da-selected, .da-selected .da-childWrapper {
    background-color: var(--nord7);
}

/* New pin icon */
.da-iconBadge {
	background-color: var(--nord11);
}

/* Microphone and speaker mute */
.da-strikethrough {
	color: var(--nord11);
}

/* Status icons */
/* ! Better solution needed. The animation does not transit smoothly */
/* Status icons */
/* ! Better solution needed. The animation does not transit smoothly */
.da-avatar .da-wrapper[aria-label$="Online"] > svg > svg > rect[width="25"],
.da-avatar[aria-label$="Online"] > svg > svg > rect[width="25"],
.da-status[aria-label="Online"] > svg > rect[width="10"],
rect[mask="url(#svg-mask-status-online)"] ,

.da-avatar .da-wrapper[aria-label$="mobile"] > svg > svg > rect[width="25"],
.da-avatar[aria-label$="mobile"] > svg > svg > rect[width="25"],
.da-status[aria-label="mobile"] > svg > rect[width="10"],
rect[mask="url(#svg-mask-status-online-mobile)"] {
	fill: var(--nord14);
}

.da-status[style="background-color: rgb(67, 181, 129);"] {
	background-color: var(--nord14) !important;
}


.da-avatar .da-wrapper[aria-label$="Do Not Disturb"] > svg > svg > rect[width="25"],
.da-avatar[aria-label$="Do Not Disturb"] > svg > svg > rect[width="25"],
.da-status[aria-label="Do Not Disturb"] > svg > rect[width="10"],
rect[mask="url(#svg-mask-status-dnd)"] {
	fill: var(--nord11);
}

.da-status[style="background-color: rgb(240, 71, 71);"] {
	background-color: var(--nord11) !important;
}

.da-avatar .da-wrapper[aria-label$="Streaming"] > svg > svg > rect[width="25"],
.da-avatar[aria-label$="Streaming"] > svg > svg > rect[width="25"],
.da-status[aria-label="Streaming"] > svg > rect[width="10"],
rect[mask="url(#svg-mask-status-streaming)"] {
	fill: var(--nord15);
}

.da-status[style="background-color: rgb(89, 54, 149);"] {
	background-color: var(--nord15) !important;
}

.da-avatar .da-wrapper[aria-label$="Idle"] > svg > svg > rect[width="25"],
.da-avatar[aria-label$="Idle"] > svg > svg > rect[width="25"],
.da-status[aria-label="Idle"] > svg > rect[width="10"],
rect[mask="url(#svg-mask-status-idle)"] {
	fill: var(--nord13);
}

.da-status[style="background-color: rgb(250, 166, 26);"] {
	background-color: var(--nord13) !important;
}

.da-avatar .da-wrapper[aria-label$="Invisible"] > svg > svg > rect[width="25"],
.da-avatar[aria-label$="Invisible"] > svg > svg > rect[width="25"],
rect[mask="url(#svg-mask-status-invisible)"] {
	fill: var(--nord3);
}

.da-status[style="background-color: rgb(116, 127, 141);"] {
	background-color: var(--nord3) !important;
}