/**
 * @name nordDiscord
 * @description A Discord palette conversion to arcticicestudio's NordTheme. Uses mwittrien's DiscordRecolor CSS as a base with my own additions.
 * @author izutsumi, mwittrien
 * @version 1.0.0
 * @website https://github.com/izutsumi/nordDiscord
 * @source https://raw.githubusercontent.com/izutsumi/nordDiscord/master/nord.theme.css
 */

/* DiscordRecolor CSS by mwittrien */
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css);

/* Variables from DiscordRecolor. RGBA values only. */
:root {
	--accentcolor: 			143,188,187;
	--linkcolor: 			143,188,187;
	--mentioncolor: 		235,203,139;
	
	--textbrightest: 		216,222,233;
	--textbrighter: 		216,222,233;
	--textbright: 			129,161,193;
	--textdark: 			129,161,193;
	--textdarker: 			94,129,172;
	--textdarkest: 			76,86,106;
	
	--backgroundaccent: 		46,52,64;
	--backgroundprimary: 		67,76,94;
	--backgroundsecondary: 		59,66,82;
	--backgroundsecondaryalt: 	46,52,64,.4;
	--backgroundtertiary: 		46,52,64;
	--backgroundfloating: 		46,52,64;
}

/* Text Highlighting Styling */
::selection {
    background-color: rgba(143,188,187,.5);
    color: #d8dee9;
}

/* Mention Border */
.da-mentioned:before {
    background-color: rgb(var(--mentioncolor));
}

/* New Messages Divider & Pill */
.da-isUnread .da-content {
    color: #bf616a !important;
}

.da-nameWrap .da-textRow {
    background-color: transparent;
}

.da-isUnread {
    border-color: #bf616a;
}

.da-unreadPill {
    background-color: #bf616a;
}

.da-unreadPillCapStroke {
    color: #bf616a;
    fill: #bf616a;
}

/* Folder Icon and Background Colors  */
foreignObject > div > div > div > svg > path {
    fill: rgb(var(--linkcolor));
}

.da-folderIconWrapper {
    background-color: #4c566a !important;
}

/* Administrator Crown */
.da-ownerIcon {
    color: rgb(var(--mentioncolor));
}

/* Add Server & Explore Buttons */
.da-circleIconButton {
    color: #8fbcbb;
}

.da-circleIconButton.da-selected, .da-selected .da-childWrapper {
    background-color: #8fbcbb;
}
